:root {
  --conversion-rate: 100%;
}
.ratio {
  padding-block-start: calc(var(--height)/var(--width)*var(--conversion-rate));
}

#ratio_2_1 {
  --width: 2;
  --height: 1;
 /* padding-block-start: calc(400/800*100%);/*similar to: 1/2*100%*/
}

#ratio_16_9 {
  --width: 16;
  --height: 9;
 /* padding-block-start: calc(450/800*100%);/* 9/9*100%*/
}

#ratio_4_3 {
  --width: 4;
  --height: 3;
  /*padding-block-start: calc(600/800*100%);/*3/4*100%*/
}

#ratio_1_1 {
  --width: 1;
  --height: 1;
  /*padding-block-start: calc(800/800*100%);/*1/1*100%*/
}
