:root {
  --base-unit: 10;
}

#dry .grid {
  display: inline-grid;
  grid-template-columns: repeat(var(--base-unit), 20px);
}

#dry a {
  display: block;
  position: relative;
  width: calc(var(--base-unit)*2px);
  height: calc(var(--base-unit)*2px);
  background-color: rgb(63, 63, 63);
  transition: background-color 1s;
  counter-increment: item;
}

#dry a:hover {
  background-color: rgb(0, 0, 0);
}

#dry a::before {
  content: counter(item);
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--base-unit)*2px);
  text-align: center;
  font-size: calc(var(--base-unit)*1px);
  line-height: calc(var(--base-unit)*2px);
  font-weight: calc(var(--base-unit)*7);
  color: rgb(63, 63, 63);
  transition: color 1s;
}

#dry a:hover::before {
  color: rgb(255, 255, 255);
}


