.header {
  background-image: url(../images/bg_desktop.jpg);
  background-color: rgba(0, 0, 0, 0.644);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 500px;
}

h1 a {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  position: 30% 5%;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 800;
  font-size: 4rem;
  color: white;
  position: center;
  padding: 0;
  margin-block-end: 2remS;
}

div p {
  color: white;
  position: absolute;
  margin-left: 20rem;
}
