main {
  background-color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

ol {
  list-style-type: none;
}

h3 {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}
ol li:first-of-type {
  box-sizing: content-box;
  border-bottom: black 1px solid;
  width: 450px;
  height: 230px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ol li:last-of-type {
  box-sizing: content-box;
  width: 600px;
  height: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

ol small {
  color: darkgray;
  font-family: pupyrus ;
}

small a {
color: black;
}
