body{
  margin: 1rem;
}

header {
padding: 1rem;
margin-block-start: 1rem;
margin-block-end: 1rem;
}

h1 {
border: 1rem solid;
padding:1rem;
margin-block-start:1rem;
margin-block-end: 1rem;
display: block;
}
main {
  padding: 2rem 1rem;
}

td:first-of-type {
padding: 0rem 1rem 0rem 0rem;

}
td:nth-last-of-type(2) {
  padding: 0rem 1rem;
}

td:last-of-type {
  padding: 0rem 0rem 0rem 1rem;
}

tr:first-of-type span {
border-bottom: 1rem solid;
}

tr:nth-last-of-type(2) span {
  border-top: 1rem solid;
  border-bottom: 1rem solid;
}

tr:last-of-type span{
  border-top: 1rem solid;
}

footer {
padding: 1rem;
margin: 1rem 0rem;
}

footer > span {
border: 1rem solid;
display: block;
}
