/*
[href="#/about"],
[href="#/contact"] {
  visibility: hidden;
}
*/
nav li:not(:first-child) {
  visibility: hidden;
}

 [data-bg-color="yellow"],
 [data-bg-color="blue"],
 tr:nth-child(2),
 span
  {
display: none;
}

span {
  opacity: 0.5;
}
